<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All articles are property of <a href='https://www.cnn.com' target="_blank">CNN</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>