<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">SNN</a>
        <ul class="left" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
        </ul>
    </div>
</nav>